{% load materializecss %}
{% load static %}
<link href="{% static 'css/form.css' %} " rel="stylesheet">
{% block content %}

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
  $('select').formSelect();

});
</script>
    <link href= "{% static 'css/theme.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
<h1>Search Customer</h1>

<form action="" method="get">
    {% csrf_token %}
    <input id="first_name" name="q" type="text" placeholder="Search...">
    <input  type='submit' value='Search'/>
    <table class="styled-table" >
    {% for customer in object %}
        <thead>
            <tr>
                <th style="text-align:center">First name</th>
                <th style="text-align:center">Last name</th>
                <th style="text-align:center">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><p style="text-align:center">{{customer.first_name}}</p></td>
                <td><p style="text-align:center">{{customer.last_name}}</p></td>
                <td><p style="text-align:center">{{customer.email}}</p></td>
            </tr>
        </tbody>
    {% endfor %}
</form>


</table>





{% endblock content %}





