
{% load static %}

{%  block content %}
    <style>
        .button {
            background-color: #4CAF50;
            color: white;
            border: 2px solid #555555;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            transition-duration: 0.4s;
            font-size: 20px;
        }

        .button:hover {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
<script>
    $("#login-button").click(function(event){
        event.preventDefault();

        $('form').fadeOut(500);
        $('.wrapper').addClass('form-success');
    });
</script>
    <link href="{% static 'css/homepage.css' %}" rel ="stylesheet">
    <div class="wrapper">
        <div class="container">
            <h1>Please select a button</h1>
            <form action="customer/add">
                <button action="customer/add" class="button" type="submit"  >Add Customer</button>
            </form>
            <form action="product/create">
                <button action="customer/add" class="button" type="submit"  >Add Product</button>
            </form>
            <form action="product/list">
                <button action="customer/add" class="button" type="submit"  >List of Products</button>
            </form>
            <form action="customer/search">
                <button action="customer/search" class="button" type="submit"  >Search a Customer</button>
            </form>
                <form action="product/search">
                    <button action="product/search" class="button" type="submit"  >Search Product</button>
            </form>
        </div>


        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>



{% endblock content %}