{%  extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<link rel="stylesheet" type="text/css" href="{%  static 'css/main.css' %}">

    <h1>{{ object.title }}</h1>
    <table class="styled-table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Summary</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.description }}</td>
            <td>{{ object.summary }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.stock }}</td>
        </tr>
    </tbody>
    </table>

{% endblock content %}